<!doctype html>
<html lang="sv">

    <head>
        <!-- Required meta tags -->
        <title>Ansökan skickades</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



    </head>

    <body>
        <p>Ansökan skickades</p>
        <!-- <p>{{landper_fname}}</p>
        <p>{{landper_lname}}</p>
        <p>{{lgh_nmr}}</p>
        <p>{{trp}}</p>
        <p>{{landper_mblnr}}</p>
        <p>{{landper_email}}</p>
        <p>{{startdate}}</p>
        <p>{{enddate}}</p>
        <p>{{landper_co_fname}}</p>
        <p>{{landper_co_lname}}</p>
        <p>{{landper_ny_adress}}</p>
        <p>{{landper_ny_postn}}</p>
        <p>{{landper_ny_ort}}</p>
        <p>{{skal}}</p>
        <p>{{tnt_fname}}</p>
        <p>{{tnt_lname}}</p>
        <p>{{tnt_mblnr}}</p>
        <p>{{tnt_email}}</p>
        <p>{{tnt_arbtgvr}}</p>
        <p>{{tnt_arbgvr_mblnr}}</p>
        <p>{{nuv_hyrsgst}}</p>
        <p>{{underskrift}}</p>
        <p>{{undrs_ort}}</p>
        <p>{{datum}}</p> -->


        <!-- Optional JavaScript -->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    </body>

</html>